html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS';
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background: #007BFF;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  padding: 20px;
}

sec {
  background: #c4bdbd;
  margin: 15px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #cfcfcf;
  color: white;
}

h1, h2 {
  color: black;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

h1 {
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
}

p {
  color: black;
  font-size: medium;
}

a {
  color: #007BFF;
}

a:hover {
  color: #97c9ff;
}

box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #007BFF;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007BFF;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

grid-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
}

img-sq {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
